
body {
  background-color: #333333;
}

#header {
  font-family: "Courier", "Courier New", monospace;
 /* font-family: Verdana, Arial, Helvetica, sans-serif;*/
 /* font-family:"Subway", "Courier", "serif"; */
  text-align:center;
	background-color: black;
	color: #aaaaaa;
	padding-left: 20%;
  padding-right: 20%;
  padding-top :10px;
	padding-bottom :10px;

	margin-top :10px;
	margin-bottom :10px;
}

#main
{
	  background-color: #dddddd;
	/*padding-left: 20%;
  	padding-right: 20%;*/

  	padding-top :10px;
	  padding-bottom :10px;

  	margin-left: 20%;
  	margin-right: 20%;

}

h1
{
  text-align:       center;
}


p, h1, h2, img
{
    padding-top :5px;
    padding-bottom :5px;

    margin-left: 10%;
    margin-right: 10%;

}

img
{
  width: 80%;
  height: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  font-family: "Courier", "Courier New", monospace;

  background-color: black;
  color:            #aaaaaa;
  text-align:       center;
  padding:          15px;
  font-size:        90%;

  padding-left: 0;
  padding-right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
