#main
{
    background-color: #222222;
  /*padding-left: 20%;
    padding-right: 20%;*/

    padding-top :10px;
    padding-bottom :10px;

}

.img0 {
  text-align: center;
  display: block;
  padding: 4%;
}

@media only screen and (min-width: 500px) {
  img { padding: 10px; }
  #main
  {
      margin-left: 20%;
      margin-right: 20%;
  }
}


img
{
  max-width: 100%;
  width: 90%;
  height: auto;
}
